name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip python3-setuptools python3-wheel \
          git zip unzip openjdk-17-jdk \
          autoconf libtool pkg-config zlib1g-dev

          pip3 install --upgrade pip
          pip3 install cython buildozer

      - name: Accept Android Licenses
        run: |
          yes | sdkmanager --licenses || true

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: clinic-apk
          path: bin/*.apk
